In [ ]:
 # Create Tuple

mytuple = (1,2,2,3,3,4,4,5,5)